{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- controls which add form to use-->
<div class="container">
	<div class="row">
		<div class="btn-group">
		<button type="button" class="btn btn-primary">Train Model</button>
		<button type="button" class="btn btn-primary">Run Model</button>
		<button type="button" class="btn btn-primary">Import Test Data</button>
		<button type="button" class="btn btn-primary">Import Training Data</button>
		</div>
	</div>
</div>

<!-- js files here -->
<script src="{% static 'js/home.js' %}"></script>

{% endblock %}