<table border="1" 
       class="scrollboth table table-striped table-bordered table-sm "
       cellspacing="0"
        width="100%">
  <thead>
    <tr style="text-align: left;">
      <th></th>
      {% for header in headers %}
      <th>{{ header }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for row in rows %}
      <tr class="clickable-row" >
        <th>{{ forloop.counter }}</th>
        {% for val in row %}
        {% if forloop.counter == 1 and val != {{outcome}} %}
          <td> <a class="feature_detail" href="">{{ val }}</a></td>
          {% else %}
          <td> {{ val }} </td>
          {% endif %}
        {% endfor %}
      </tr>
    {% endfor %}
  </tbody>
</table>
