<table border="1" 
       class="scrollboth table table-striped table-bordered table-sm "
       cellspacing="0"
        width="100%">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Feature</th>
      <th>Type</th>
      <th>Distinct</th>
      <th>Missing</th>
      <th>Minimum</th>
      <th>Maximum</th>
      <th>Top Frequencies</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>id_01</td>
      <td>float64</td>
      <td>21</td>
      <td>0</td>
      <td>-100</td>
      <td>0</td>
      <td>{(-10.0, 0.0]: 775, (-20.0, -10.0]: 83, (-30.0, -20.0]: 80, (-50.0, -40.0]: 24, (-40.0, -30.0]: 12, (-100.101, -90.0]: 12, (-60.0, -50.0]: 5, (-80.0, -70.0]: 4, (-70.0, -60.0]: 3, (-90.0, -80.0]: 2}</td>
    </tr>
    <tr>
      <th>2</th>
      <td>id_02</td>
      <td>float64</td>
      <td>971</td>
      <td>26</td>
      <td>1386</td>
      <td>998295</td>
      <td>{(389.09000000000003, 101076.9]: 496, (101076.9, 200767.8]: 266, (200767.8, 300458.7]: 103, (300458.7, 400149.6]: 55, (400149.6, 499840.5]: 21, (499840.5, 599531.4]: 18, (599531.4, 699222.3]: 8, (898604.1, 998295.0]: 4, (699222.3, 798913.2]: 2, (798913.2, 898604.1]: 1}</td>
    </tr>
    <tr>
      <th>3</th>
      <td>id_03</td>
      <td>float64</td>
      <td>9</td>
      <td>562</td>
      <td>-5</td>
      <td>9</td>
      <td>{nan: 562, 0.0: 409, 3.0: 11, 1.0: 7, 2.0: 6, -5.0: 1, 4.0: 1, 9.0: 1, 6.0: 1, 5.0: 1}</td>
    </tr>
    <tr>
      <th>4</th>
      <td>id_04</td>
      <td>float64</td>
      <td>4</td>
      <td>562</td>
      <td>-11</td>
      <td>0</td>
      <td>{nan: 562, 0.0: 435, -8.0: 1, -5.0: 1, -11.0: 1}</td>
    </tr>
    <tr>
      <th>5</th>
      <td>id_05</td>
      <td>float64</td>
      <td>42</td>
      <td>50</td>
      <td>-26</td>
      <td>50</td>
      <td>{(-3.2, 4.4]: 799, (4.4, 12.0]: 94, (12.0, 19.6]: 22, (19.6, 27.2]: 16, (-10.8, -3.2]: 12, (34.8, 42.4]: 2, (27.2, 34.8]: 2, (42.4, 50.0]: 1, (-18.4, -10.8]: 1, (-26.077, -18.4]: 1}</td>
    </tr>
    <tr>
      <th>6</th>
      <td>id_06</td>
      <td>float64</td>
      <td>49</td>
      <td>50</td>
      <td>-100</td>
      <td>0</td>
      <td>{(-10.0, 0.0]: 787, (-20.0, -10.0]: 57, (-30.0, -20.0]: 44, (-40.0, -30.0]: 32, (-100.101, -90.0]: 16, (-50.0, -40.0]: 9, (-60.0, -50.0]: 2, (-80.0, -70.0]: 2, (-90.0, -80.0]: 1, (-70.0, -60.0]: 0}</td>
    </tr>
    <tr>
      <th>7</th>
      <td>id_07</td>
      <td>float64</td>
      <td>18</td>
      <td>964</td>
      <td>-4</td>
      <td>39</td>
      <td>{(-4.0440000000000005, 0.3]: 7, (13.2, 17.5]: 6, (21.8, 26.1]: 5, (17.5, 21.8]: 5, (0.3, 4.6]: 4, (34.7, 39.0]: 3, (4.6, 8.9]: 3, (26.1, 30.4]: 2, (8.9, 13.2]: 1, (30.4, 34.7]: 0}</td>
    </tr>
    <tr>
      <th>8</th>
      <td>id_08</td>
      <td>float64</td>
      <td>22</td>
      <td>964</td>
      <td>-100</td>
      <td>0</td>
      <td>{(-60.0, -50.0]: 8, (-20.0, -10.0]: 6, (-40.0, -30.0]: 6, (-30.0, -20.0]: 5, (-50.0, -40.0]: 4, (-100.101, -90.0]: 4, (-10.0, 0.0]: 3, (-70.0, -60.0]: 0, (-80.0, -70.0]: 0, (-90.0, -80.0]: 0}</td>
    </tr>
    <tr>
      <th>9</th>
      <td>id_09</td>
      <td>float64</td>
      <td>15</td>
      <td>466</td>
      <td>-11</td>
      <td>9</td>
      <td>{(-1.0, 1.0]: 490, (1.0, 3.0]: 21, (3.0, 5.0]: 9, (5.0, 7.0]: 7, (-9.0, -7.0]: 2, (7.0, 9.0]: 1, (-3.0, -1.0]: 1, (-5.0, -3.0]: 1, (-7.0, -5.0]: 1, (-11.020999999999999, -9.0]: 1}</td>
    </tr>
    <tr>
      <th>10</th>
      <td>id_10</td>
      <td>float64</td>
      <td>12</td>
      <td>466</td>
      <td>-42</td>
      <td>0</td>
      <td>{(-4.2, 0.0]: 519, (-8.4, -4.2]: 6, (-12.6, -8.4]: 5, (-16.8, -12.6]: 1, (-29.4, -25.2]: 1, (-33.6, -29.4]: 1, (-42.043, -37.8]: 1, (-21.0, -16.8]: 0, (-25.2, -21.0]: 0, (-37.8, -33.6]: 0}</td>
    </tr>
    <tr>
      <th>11</th>
      <td>id_11</td>
      <td>float64</td>
      <td>53</td>
      <td>26</td>
      <td>90.2</td>
      <td>100</td>
      <td>{(99.02, 100.0]: 881, (97.06, 98.04]: 20, (96.08, 97.06]: 19, (93.14, 94.12]: 15, (95.1, 96.08]: 14, (94.12, 95.1]: 12, (90.189, 91.18]: 5, (98.04, 99.02]: 4, (92.16, 93.14]: 3, (91.18, 92.16]: 1}</td>
    </tr>
    <tr>
      <th>12</th>
      <td>id_12</td>
      <td>object</td>
      <td>2</td>
      <td>0</td>
      <td>Found</td>
      <td>NotFound</td>
      <td>{'NotFound': 852, 'Found': 148}</td>
    </tr>
    <tr>
      <th>13</th>
      <td>id_13</td>
      <td>float64</td>
      <td>18</td>
      <td>216</td>
      <td>11</td>
      <td>63</td>
      <td>{(47.4, 52.6]: 674, (16.2, 21.4]: 37, (10.947000000000001, 16.2]: 28, (57.8, 63.0]: 18, (21.4, 26.6]: 8, (37.0, 42.2]: 7, (31.8, 37.0]: 5, (52.6, 57.8]: 4, (42.2, 47.4]: 3, (26.6, 31.8]: 0}</td>
    </tr>
    <tr>
      <th>14</th>
      <td>id_14</td>
      <td>float64</td>
      <td>9</td>
      <td>347</td>
      <td>-600</td>
      <td>480</td>
      <td>{-300.0: 387, nan: 347, -360.0: 140, -480.0: 80, -420.0: 33, -600.0: 6, 480.0: 3, 300.0: 2, -540.0: 1, -240.0: 1}</td>
    </tr>
    <tr>
      <th>15</th>
      <td>id_15</td>
      <td>object</td>
      <td>3</td>
      <td>26</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>{'Found': 457, 'New': 451, 'Unknown': 66, nan: 26}</td>
    </tr>
    <tr>
      <th>16</th>
      <td>id_16</td>
      <td>object</td>
      <td>2</td>
      <td>92</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>{'NotFound': 470, 'Found': 438, nan: 92}</td>
    </tr>
    <tr>
      <th>17</th>
      <td>id_17</td>
      <td>float64</td>
      <td>10</td>
      <td>34</td>
      <td>100</td>
      <td>225</td>
      <td>{(162.5, 175.0]: 641, (212.5, 225.0]: 303, (137.5, 150.0]: 9, (99.874, 112.5]: 7, (112.5, 125.0]: 3, (187.5, 200.0]: 2, (125.0, 137.5]: 1, (200.0, 212.5]: 0, (175.0, 187.5]: 0, (150.0, 162.5]: 0}</td>
    </tr>
    <tr>
      <th>18</th>
      <td>id_18</td>
      <td>float64</td>
      <td>6</td>
      <td>703</td>
      <td>12</td>
      <td>21</td>
      <td>{nan: 703, 15.0: 132, 13.0: 108, 12.0: 48, 18.0: 6, 20.0: 2, 21.0: 1}</td>
    </tr>
    <tr>
      <th>19</th>
      <td>id_19</td>
      <td>float64</td>
      <td>101</td>
      <td>34</td>
      <td>100</td>
      <td>669</td>
      <td>{(384.5, 441.4]: 225, (213.8, 270.7]: 199, (498.3, 555.2]: 123, (270.7, 327.6]: 96, (99.42999999999999, 156.9]: 85, (156.9, 213.8]: 63, (612.1, 669.0]: 60, (327.6, 384.5]: 59, (441.4, 498.3]: 41, (555.2, 612.1]: 15}</td>
    </tr>
    <tr>
      <th>20</th>
      <td>id_20</td>
      <td>float64</td>
      <td>81</td>
      <td>34</td>
      <td>100</td>
      <td>638</td>
      <td>{(476.6, 530.4]: 223, (530.4, 584.2]: 164, (207.6, 261.4]: 163, (315.2, 369.0]: 113, (584.2, 638.0]: 84, (153.8, 207.6]: 64, (369.0, 422.8]: 53, (261.4, 315.2]: 50, (99.461, 153.8]: 41, (422.8, 476.6]: 11}</td>
    </tr>
    <tr>
      <th>21</th>
      <td>id_21</td>
      <td>float64</td>
      <td>10</td>
      <td>964</td>
      <td>228</td>
      <td>849</td>
      <td>{(227.378, 290.1]: 22, (786.9, 849.0]: 6, (724.8, 786.9]: 3, (600.6, 662.7]: 3, (662.7, 724.8]: 1, (352.2, 414.3]: 1, (538.5, 600.6]: 0, (476.4, 538.5]: 0, (414.3, 476.4]: 0, (290.1, 352.2]: 0}</td>
    </tr>
    <tr>
      <th>22</th>
      <td>id_22</td>
      <td>float64</td>
      <td>4</td>
      <td>964</td>
      <td>14</td>
      <td>41</td>
      <td>{nan: 964, 14.0: 31, 41.0: 3, 33.0: 1, 21.0: 1}</td>
    </tr>
    <tr>
      <th>23</th>
      <td>id_23</td>
      <td>object</td>
      <td>3</td>
      <td>964</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>{nan: 964, 'IP_PROXY:TRANSPARENT': 18, 'IP_PROXY:HIDDEN': 10, 'IP_PROXY:ANONYMOUS': 8}</td>
    </tr>
    <tr>
      <th>24</th>
      <td>id_24</td>
      <td>float64</td>
      <td>2</td>
      <td>965</td>
      <td>11</td>
      <td>15</td>
      <td>{nan: 965, 11.0: 24, 15.0: 11}</td>
    </tr>
    <tr>
      <th>25</th>
      <td>id_25</td>
      <td>float64</td>
      <td>11</td>
      <td>964</td>
      <td>132</td>
      <td>516</td>
      <td>{(285.6, 324.0]: 14, (400.8, 439.2]: 8, (477.6, 516.0]: 4, (131.615, 170.4]: 4, (362.4, 400.8]: 3, (439.2, 477.6]: 1, (247.2, 285.6]: 1, (170.4, 208.8]: 1, (324.0, 362.4]: 0, (208.8, 247.2]: 0}</td>
    </tr>
    <tr>
      <th>26</th>
      <td>id_26</td>
      <td>float64</td>
      <td>15</td>
      <td>964</td>
      <td>100</td>
      <td>216</td>
      <td>{(181.2, 192.8]: 9, (111.6, 123.2]: 8, (204.4, 216.0]: 4, (146.4, 158.0]: 4, (134.8, 146.4]: 4, (158.0, 169.6]: 3, (99.883, 111.6]: 3, (123.2, 134.8]: 1, (192.8, 204.4]: 0, (169.6, 181.2]: 0}</td>
    </tr>
    <tr>
      <th>27</th>
      <td>id_27</td>
      <td>object</td>
      <td>1</td>
      <td>964</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>{nan: 964, 'Found': 36}</td>
    </tr>
    <tr>
      <th>28</th>
      <td>id_28</td>
      <td>object</td>
      <td>2</td>
      <td>26</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>{'Found': 551, 'New': 423, nan: 26}</td>
    </tr>
    <tr>
      <th>29</th>
      <td>id_29</td>
      <td>object</td>
      <td>2</td>
      <td>26</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>{'Found': 534, 'NotFound': 440, nan: 26}</td>
    </tr>
    <tr>
      <th>30</th>
      <td>id_30</td>
      <td>object</td>
      <td>38</td>
      <td>369</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>{nan: 369, 'Windows 10': 181, 'Windows 7': 125, 'iOS 11.1.2': 100, 'Android 7.0': 34, 'Mac OS X 10_12_6': 18, 'Mac OS X 10_11_6': 18, 'Windows 8.1': 17, 'Mac OS X 10_13_1': 17, 'iOS 10.3.3': 14}</td>
    </tr>
    <tr>
      <th>31</th>
      <td>id_31</td>
      <td>object</td>
      <td>41</td>
      <td>28</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>{'chrome 62.0': 358, 'mobile safari 11.0': 137, 'ie 11.0 for desktop': 72, 'safari generic': 58, 'chrome 62.0 for android': 58, 'firefox 57.0': 55, 'mobile safari 10.0': 36, 'edge 15.0': 35, nan: 28, 'mobile safari generic': 23}</td>
    </tr>
    <tr>
      <th>32</th>
      <td>id_32</td>
      <td>float64</td>
      <td>2</td>
      <td>369</td>
      <td>24</td>
      <td>32</td>
      <td>{24.0: 415, nan: 369, 32.0: 216}</td>
    </tr>
    <tr>
      <th>33</th>
      <td>id_33</td>
      <td>object</td>
      <td>40</td>
      <td>412</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>{nan: 412, '1920x1080': 130, '1366x768': 78, '2208x1242': 45, '1334x750': 38, '1440x900': 37, '2048x1536': 35, '1600x900': 35, '1280x1024': 21, '1136x640': 16}</td>
    </tr>
    <tr>
      <th>34</th>
      <td>id_34</td>
      <td>object</td>
      <td>3</td>
      <td>382</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>{'match_status:2': 471, nan: 382, 'match_status:1': 139, 'match_status:0': 8}</td>
    </tr>
    <tr>
      <th>35</th>
      <td>id_35</td>
      <td>object</td>
      <td>2</td>
      <td>26</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>{'T': 631, 'F': 343, nan: 26}</td>
    </tr>
    <tr>
      <th>36</th>
      <td>id_36</td>
      <td>object</td>
      <td>2</td>
      <td>26</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>{'F': 891, 'T': 83, nan: 26}</td>
    </tr>
    <tr>
      <th>37</th>
      <td>id_37</td>
      <td>object</td>
      <td>2</td>
      <td>26</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>{'T': 768, 'F': 206, nan: 26}</td>
    </tr>
    <tr>
      <th>38</th>
      <td>id_38</td>
      <td>object</td>
      <td>2</td>
      <td>26</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>{'T': 839, 'F': 135, nan: 26}</td>
    </tr>
    <tr>
      <th>39</th>
      <td>DeviceType</td>
      <td>object</td>
      <td>2</td>
      <td>26</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>{'desktop': 649, 'mobile': 325, nan: 26}</td>
    </tr>
    <tr>
      <th>40</th>
      <td>DeviceInfo</td>
      <td>object</td>
      <td>87</td>
      <td>152</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>{'Windows': 403, 'iOS Device': 156, nan: 152, 'MacOS': 79, 'Trident/7.0': 66, 'rv:11.0': 12, 'KFFOWI Build/LVY48F': 7, 'rv:57.0': 6, 'SAMSUNG SM-G950U Build/NRD90M': 5, 'SAMSUNG': 5}</td>
    </tr>
  </tbody>
</table>