{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- controls which add form to use-->
<div class="container">
  <div class="jumbotron my-dropdown">
    <h1 id="screen-title"> Train Model </h1>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="select-screen" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Make Selection
      </button>
      <div class="dropdown-menu screen-type" aria-labelledby="select-screen">
        <a class="dropdown-item screen-type" name="train-model" href="#">Train New Model</a>
        <a class="dropdown-item screen-type" name="run-model" href="#">Run Model</a>
        <!-- FIXME: Add support for modifying existing models -->
        <!-- <a class="dropdown-item screen-type" name="modify-model" href="#">Modify Existing</a> -->
        <a class="dropdown-item screen-type" name="delete-model" href="#">Delete Model</a>
      </div>
    </div>
  </div>
</div>

<!-- Train New Model -->
<div class="container screen-type" id="train-model" style="display:block;">
  {% include "train.html" %}
</div>

<!-- Run Existing Model -->
<div class="container screen-type" id ="run-model" style="display:none;">
  {% include "run.html" %}
</div>


<!-- FIXME: Add suppport for modifying existing model -->
<!-- <1!-- Modify Existing --1> -->
<!-- <div class="container screen-type" id="modify-model" style="display:none;"> -->
<!-- </div> -->

<!-- Delete Existing -->
<div class="container screen-type" id="delete-model" style="display:none;">
  {% include "delete.html" %}
</div>


{% endblock %}
{% block javascript %}
<script type="text/javascript" src="{% static 'js/home.js' %}"></script>
<script type="text/javascript" src="{% static 'js/run.js' %}"></script>
<script type="text/javascript" src="{% static 'js/train.js' %}"></script>
<script type="text/javascript" src="{% static 'js/modify.js' %}"></script>
<script type="text/javascript" src="{% static 'js/delete.js' %}"></script>
{% endblock %}
