{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<form id="select-outcome-form">
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h3> Select Response Variable</h3>
      <table border="1" 
             class="table table-sm table-striped table-bordered "
             cellspacing="0">
        <thead>
          <tr style="text-align: left;">
            <th></th>
            <th>Feature</th>
          </tr>
        </thead>
        <tbody>
          {% for feature in features %}
            <tr class="clickable-row" >
              <th>{{ forloop.counter }}</th>
              <td> 
              {% if forloop.counter == 1 %}
                <div class="form-check">
                  <div class="radio">
                    <label><input class="outcome-radio" type="radio" name="outcome" value="{{feature}}">{{ feature }}</label>
                  </div>
                </div>
                <!-- <input class="form-check-input" type="radio" name="exampleRadios{{forloop.counter}}" value="option1" checked> -->
                <!-- <label class="form-check-label" for="exampleRadios1"> {{ feature }} </label> -->
              {% else %}
                <div class="form-check">
                  <div class="radio">
                    <label><input class="outcome-radio" type="radio" name="outcome" value="{{feature}}">{{ feature }}</label>
                  </div>
                </div>
              {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      </div>
    </div>
  </div>
</div>
</form>
