{% load static %}

<!-- Train Model From Scratch -->
<div class="container jumbotron">
  <h1>Import Data</h1> 
  <div class="row">
    <div class="col-sm-12">
      {% include "upload_form.html" with form=upload_training %}
    </div>
  </div>
</div>

<div id="section-data-prep" class="container jumbotron" style="display:none;">
  <h1>Data Preparation</h1> 
  <div class="row">
    <div class="col-sm-6">
      <button id="choose-outcome" class="btn btn-primary">Choose Response Variable</button>
      <div class="result"></div>
      <!-- modal for selecting data types -->
      <div id="outcome-selection-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="outcome-selection-header" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div id="outcome-selection-content" class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> &times;</button>
              <h4 id="outcome-selection-header" class="modal-title" id="outcome-selection-header">Modify Data Types for Each Feature</h4>
            </div>
            <div id="outcome-selection-body" class="modal-body">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
              <button id="submit-outcome" type="button" class="btn btn-success" data-dismiss="modal">Submit</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-6" id="section-choose-dtypes" style="display:none;">
      <form>    
      <!-- <div class="row" id="section-choose-dtypes" style="display:none;"> -->
        <button id="choose-dtypes" class="btn btn-primary">Confirm Data Types</button>
        <div class="result"></div>
        <!-- modal for selecting data types -->
        <div id="dtype-selection-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dtype-selection-header" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div id="dtype-selection-content" class="modal-content">
              <div  class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> &times;</button>
                <h4 id="dtype-selection-header" class="modal-title" id="dtype-selection-header">Modify Data Types for Each Feature</h4>
              </div>
              <div id="dtype-selection-body" class="modal-body">
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                <button id="submit-data-dict" type="button" class="btn btn-success" data-dismiss="modal">Submit</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

      <!-- After import, can view data dictionary  -->
<div class="jumbotron" id="section-analysis" style="display:none;">
  <h1> Data Dictionary </h1> 
  <div id="dict_training"></div>
</div>

<!-- Choose Training model Model -->
<div class="jumbotron" id="section-choose-model" style="display:none;">
  <h1>Choose Model</h1> 
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="select_model" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Choose Machine Learning Algorithm
    </button>
    <div class="dropdown-menu ml-algorithm" aria-labelledby="select_training_type">
      <a class="dropdown-item ml-algorithm" name="KNN" href="#">K-Nearest Neighbors</a>
      <a class="dropdown-item ml-algorithm" name="ADA" href="#">Adaptive Boosting</a>
      <a class="dropdown-item ml-algorithm" name="RF" href="#">Radio Frequency</a>
      <a class="dropdown-item ml-algorithm" name="SVM" href="#">Support Vector Machine</a>
    </div>
  </div>
</div>

      <!-- Data Cleaning -->
<div class="jumbotron" id="section-cleaning" style="display:none;">
  <h1>Data Cleaning</h1> 
  <div id="cleaning-form"></div>
</div>

      <!-- Train Model -->
<div class="jumbotron" id="section-train-results" style="display:none;">
  <h1>Results of Training Session</h1> 
  <div class="results"></div>
</div>


<!-- modal for seeing feature details -->
<div id="feature-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="feature-header" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div id="feature-content" class="modal-content">
      <div  class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> &times;</button>
        <h4 id="feature-header" class="modal-title" id="feature-header"></h4>
      </div>
      <div id="feature-body" class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
