/* overall document styling */
.blk {
    color:black;
}

.dk-blue {
    color:blue;
}

.wht {
    color:white;
}

#footer{
    background-color:#2d2f33;
    border-style:solid;
    border-width:2px;
    border-color:#34373d;
}

#header{
    background-color:#2d2f33;
    border-style:solid;
    border-width:2px;
    border-color:#34373d;
}

.min-100 {
    min-height: 100%;
}